@charset "UTF-8";
/*text divs*/

div#block-content {
	width:900px;
	margin:auto;
	margin-top: -150px;
	z-index:1999;
}

article.data-block-1
{
	z-index:999;
	float:left;
	width:250px;
	background:#564739
}

article.data-block-2
{
	z-index:999;
	float:left;
	width:250px;
	background:#886d57
}

article.data-block-3
{
	z-index:999;
	float:left;
	width:250px;
	background:#fff
}

p.data-title-black
{
	color:#886d57;
	font-family:'arial';
	text-align: center;
}

p.data-title-white
{
	color:#fff;
	font-family:'arial';
	text-align: center;
}

div.flexslider {
	overflow:hidden; 
	margin:-1px 0 0 -1px;	
}